/*------------------------------
ALWAYS INCLUDE
------------------------------*/



* {
	box-sizing: border-box;
	color: skyblue;
	font-size: 0;
	/*border: 2px solid red;*/
}

img {
	max-width: 100%;
}



/*------------------------------
INITIAL SETUP
------------------------------*/



/*push all elements down from top of viewport*/
#container {
	padding: 5% 0;
}

.main-box {
	display: inline-block;
	position: relative;
	width: 30%;
	margin: 10px;
}

.tshirt {
	padding: 30px;
	border: 3px solid skyblue;
	width: 100%;
	border-bottom: none;
}

/*set flip box in upper right corner*/
.flip {
	position: absolute;
	border: 2px solid skyblue;
	right: 0;
	border-right: none;
	border-top: none;
	font-size: 18px;
}

/*center icon in flip box*/
.flip > .fa {
	padding: 8px;
}

.icon-box {
	border-right: 3px solid lightblue;
}

/*center icons horizontally*/
.icon {
	height: 40px;
    display: inline-block;
    width: 20%;
    border: 3px solid lightblue;
    border-right: none;
    text-align: center;
    font-size: 18px;
    padding-top: 5px
}

/*center icons vertically*/
.fa {
	padding-top: 3px;
}

#blue-square {
	color: skyblue;
}

#pink-square {
	color: palevioletred;
}

#orange-square {
	color: burlywood;
}

#green-square {
	color: darkseagreen;
}

/*create space below icon-box*/
.label-box {
	padding: 20px 0 40px 0;
}

.name, .price {
	display: inline-block;
	width: 50%;
	font-size: 24px;
	font-family: Helvetica;
}

.price {
	font-weight: bolder;
	text-align: right;
}



/*------------------------------
HOVER ANIMATIONS
------------------------------*/



.icon:hover {
	background: skyblue;
	cursor: pointer;
}

.icon:hover > .fa {
    color:white;
}

.flip:hover {
	background: skyblue;
	color: white;
	cursor: pointer;
}

.flip:hover > .fa {
	color: white;
}



/*------------------------------
SHOW HIDDEN SIZE OPTIONS
------------------------------*/

.icon:nth-child(3) {
    position: relative;
}

.icon:hover > .hidden-shirts {
    display: block;
}

.hidden-shirts div:hover {
    background-color: lightblue
}

.hidden-shirts {
    display: none;
    position: absolute;
    border: 3px solid skyblue;
    background-color: white;
    width:100%;
    border-bottom: none;
    bottom: 110%;
}

.hidden-shirts div .fa {
    font-size: 28px;
}

.hidden-shirts div .fa-4x {
    font-size:24px;
}

.hidden-shirts div .fa-3x {
    font-size: 20px;
}

.hidden-shirts div .fa-2x {
    font-size: 16px;
}


/*------------------------------
SHOW HIDDEN COLOR OPTIONS
------------------------------*/

.icon:nth-child(4) {
    position: relative;
}

.icon:hover > .hidden-colors {
    display: block;
}

.hidden-colors div:hover {
    height: 22px;
    width: 22px;
}

.hidden-colors {
    display: none;
    position: absolute;
    border: 3px solid skyblue;
    background-color: white;
    width: 100%;
    border-bottom: none;
    bottom: 110%;
}

.blue, .pink, .orange, .green {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 5%;
    margin: 3px;
}

.blue {
    background-color: skyblue;
}

.pink {
	background-color: palevioletred;
}

.orange {
    background-color: burlywood;
}

.green {
    background-color: darkseagreen;
}

/*------------------------------
MEDIA QUERIES
------------------------------*/



@media (max-width: 1050px) {
    .main-box {
        width: 45%;
        display:inline-block;
    }
}

@media (max-width: 700px) {
    .main-box {
        width: 70%;
        display:block;
        margin: 1% auto;
    }
}

/*
blue === skyblue
pink === palevioletred
orange === burlywood
green === darkseagreen
*/
