/*------------------------------
ALWAYS INCLUDE
------------------------------*/



* {
	box-sizing: border-box;
	color: skyblue;
	font-size: 0;
	/*border: 2px dotted red;*/
}

img {
	max-width: 100%;
}



/*------------------------------
INITIAL SETUP
------------------------------*/



/*push all elements down from top of viewport*/
#container {
	padding: 5% 0;
    max-width: 1200px;
    margin: 0 auto;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: center;
    margin: -15px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    text-align: center;
}

.main-box {
	display: inline-block;
	position: relative;
	width: 30%;
	margin: 10px;
}

.tshirt {
	padding: 30px;
	border: 3px solid skyblue;
	width: 100%;
	border-bottom: none;
}

/*set flip box in upper right corner*/
.flip {
	position: absolute;
	border: 3px solid skyblue;
	right: 0;
	/*border-right: none;*/
	/*border-top: none;*/
	font-size: 18px;
}

/*center icon in flip box*/
.flip > .fa {
	padding: 8px;
}

.icon-box {
	border-right: 3px solid skyblue;
}

/*center icons horizontally*/
.icon {
	height: 40px;
    display: inline-block;
    width: 20%;
    border: 3px solid skyblue;
    border-right: none;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
}

/*center icons vertically*/
.fa {
	padding-top: 3px;
}

#blue-square {
	color: skyblue;
}

#pink-square {
	color: palevioletred;
}

#orange-square {
	color: burlywood;
}

#green-square {
	color: darkseagreen;
}

/*create space below icon-box*/
.label-box {
	padding: 20px 0 40px 0;
}

.name, .price {
	display: inline-block;
	width: 50%;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
}

.name {
    text-align: left;
}
.price {
	font-weight: bolder;
	text-align: right;
}



/*------------------------------
HOVER ANIMATIONS
------------------------------*/



.icon:hover {
	background: skyblue;
	cursor: pointer;
}

.icon:hover > .fa {
    color: white;
}

.flip:hover {
	background: skyblue;
	color: white;
	cursor: pointer;
}

.flip:hover > .fa {
	color: white;
}

.icon:hover > .fa-heart-o {
    color: red;
}

.icon:hover #blue-square {
    color: blue;
}



/*------------------------------
SHOW HIDDEN SIZE OPTIONS
------------------------------*/



.icon:nth-child(3) {
    position: relative;
}

/*reveals size drop down menu*/
.icon:hover > .hidden-shirts {
    display: block;
}

.hidden-shirts .fa:hover {
    transform:scale(1.5);
}

.hidden-shirts {
    display: none;
    position: absolute;
    border: 3px solid skyblue;
    background-color: white;
    width: 100%;
    bottom: 100%;
    animation: slide-down .4s;
}

.hidden-shirts div .fa {
    font-size: 28px;
    margin: 8px;
}

.hidden-shirts div .fa-4x {
    font-size: 24px;
    margin: 8px;
}

.hidden-shirts div .fa-3x {
    font-size: 20px;
    margin: 8px;
}

.hidden-shirts div .fa-2x {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 16px;
}

/*controls animation for size and color drop down menu*/
@keyframes slide-down {
    0% {bottom: 60px;}
    100% {bottom: 34px;}
}

/*adds bottom border to drop down menus*/
.hidden-shirts:after, .hidden-colors:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 6px white;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}



/*------------------------------
SHOW HIDDEN COLOR OPTIONS
------------------------------*/



.icon:nth-child(4) {
    position: relative;
}

/*reveals color drop down menu*/
.icon:hover > .hidden-colors {
    display: block;
}

.hidden-colors div:hover {
    transform: scale(1.1);
}

.hidden-colors {
    display: none;
    position: absolute;
    border: 3px solid skyblue;
    background-color: white;
    width: 100%;
    bottom: 100%;
    animation: slide-down .4s 1;
}

.blue, .pink, .orange, .green {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 5%;
    margin: 3px;
}

.blue {
    background-color: skyblue;
}

.pink {
	background-color: palevioletred;
}

.orange {
    background-color: burlywood;
}

.green {
    background-color: darkseagreen;
}

button {
    background-color: white;
    border-top: 3px solid skyblue;
    border-right: 3px solid skyblue;
}


/*------------------------------
TSHIRT FLIP
------------------------------*/



/*.flip:active + .tshirt {
    transform: rotateY(180deg);
}*/



/*------------------------------
MEDIA QUERIES
------------------------------*/



@media (max-width: 1050px) {
    .main-box {
        width: 45%;
        display:inline-block;
    }
}

@media (max-width: 700px) {
    .main-box {
        width: 70%;
        display: block;
        margin: 1% auto;
    }
}



/*
blue === skyblue
pink === palevioletred
orange === burlywood
green === darkseagreen
*/